{% extends "base.html" %}

{% block content %}

<img src="{{ user.image_url }}" alt="">
<h1>
  {{ user.first_name }}
  {% if user.last_name is not none %} {{ user.last_name }}{% endif %}
</h1>
<form action="/users/{{ user.id }}/delete" method="post">
  <a href="/users/{{user.id}}/edit" class="btn btn-primary">Edit</a>
  <!-- <a href="/" class="btn btn-danger">Delete</a> -->
  <button type="submit" class="btn btn-danger">Delete</button>
</form>
<h2>Posts</h2>
<ul>
  {% for post in user.posts %}
  <li>
    <a href="/posts/{{ post.id }}">{{ post.title }}</a>
  </li>
  {% endfor %}
</ul>
<a href="/users/{{user.id}}/posts/new" class="btn btn-primary">Add Post</a>
{% endblock %}